.account-stats {
  margin-top: 8%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.account-stats .trybe-btn-1, p {
  margin: 6% 0;
}

.account-buttons-control {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 30%;
}