.month-filter.select-filter {
  margin-bottom: 5%;
  margin-top: -3%;
}

.wallet-body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: auto;
  margin-top: 5%;
}

.dashboard-control-container .trybe-btn-1 {
  margin-top: 0%;
  font-size: calc(8px + 0.8vw)
}

.register-expense-button {
  position: fixed;
  left: 10px;
  bottom: 10px;
  border-radius: 100%;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0, 0.6);
  font-size: calc(25px + 0.8vw);
}

.register-expense-button:hover {
  box-shadow: 2px 2px 2px 2px rgba(0,0,0, 0.3);
  transition: 1s;
}

.register-expense-butto:active {
  position: absolute;
  right: 10px;
  bottom: 10px;
  border-radius: 100%;
}

.header-text {
  align-self: flex-end;
}

